/* Value base 8
--------------*/
$base : 8px;

/* SIZE
-------------*/
$wrapper: 1240px;
$fontSize:(
    1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
);
/* COLORS
-------------*/
$color: (
    c-1:#425ac1,
    c-2:#ea3232,
    c-3:#f39d34,
    c-w:#fff,
    c-b:#000,
    cg-1:rgba(0, 0, 0, 0.479),
    cg-2:rgb(206, 206, 206),
    cg-3:rgba(247, 247, 247, 0.952),
    cg-4:rgba(247, 247, 247, 0.589),
    cg-5:#f7f7f9
);

/* FONTS
------------*/
$ff-harry: "harryp";
$ff-bebas: "bebas";
$ff-futura: "futura";

/* RADIUS
------------*/
$radius-s : 4px;
$radius-m : 8px;
$radius-l : 15px;

/* Padding & Margin
-------------*/
$spaceamounts: (
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  30
);
$sides: (top, bottom, left, right);

/* SIze
-------------*/
$md : 900px;